.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  width: 100vw;
  z-index: 75;

  background-color: black;
  border-bottom: 1px solid white;
}
.nav-left,
.nav-right * {
  color: white;
  text-decoration: none;
}
.nav-left {
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.nav-react {
  animation: rotateReact infinite 15s linear;
  color: #61dafb;
}
.nav-left * {
  display: inline;
  margin-right: 1rem;
}

.mobile-nav-right {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 79;
}
.mobile-nav-right * {
  margin: 2rem 0;
}
.nav-menu {
  color: white;
  position: fixed;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 80;;
}
.nav-link {
  color: white;
}

@keyframes rotateReact {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1025px) {
  .nav-menu {
    display: none;
  }
  .mobile-nav-right {
    display: none;
  }
}
