.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  max-width: 100vw;
  z-index: 75;
  position: sticky;
  top: 0;

  background-color: rgba(0, 0, 0, 0.7);
}
.nav-left,
.nav-right * {
  color: white;
  text-decoration: none;
}
.nav-left {
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.nav-left * {
  display: inline;
  margin-right: 1rem;
  text-align: center;
}

.mobile-nav-right {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 79;
}
.mobile-nav-right * {
  margin: 2rem 0;
}
.nav-menu {
  color: white;
  position: fixed;
  right: 8px;
  top: 15px;
  cursor: pointer;
  z-index: 80;
}
.nav-link {
  color: white;
  font-weight: 700;
}

@media only screen and (min-width: 1025px) {
  .nav-menu {
    display: none;
  }
  .mobile-nav-right {
    display: none;
  }

  .navbar {
    justify-content: space-between;;
  }
  .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 35vw;
  } 
   .nav-link {
    padding: 0 2rem;
    display: flex;
    height: 50%;
    align-items: center;
    transition: 1s;
  }
  .nav-right *:hover{
    height: 100%;
    background-color: white;
    border-radius: 2px;
    color: black;
    font-size: 1.3rem;

  }
}
