.project {
padding: 1rem;
}
.project-item {
  margin: 2rem 0;
  padding: 1rem  1.25rem;
  
  background-color: #FFF8E7;
  color: black;
  border-radius: 3px;
  text-align: center;
}
.project-img {
  width: 60vw;
  border-radius: 2px;
  border: 2px solid black;
}
.project-desc {
  height: 35vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
.project-title {
  text-decoration: underline;
}
.project-text {
  text-align: left;
}
.project-techs {
  font-style: italic;
  font-size: 0.9rem;
  text-align: right;
}

.project-button {
  border-radius: 4px;
  background-color: #16263E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.project-button span {
  cursor: pointer;
  display: inline-block;
  position: relative; 
  transition: 0.5s;
}
.project-button span:after{
  content:'\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.project-button:hover span {
  padding-right: 25px;
}
.project-button:hover span:after {
  opacity: 1;
  right: 0;
}
.project-button:hover{
  background: black;
  color: #FFF8E7
}
