
.landing {
  display: grid;
  grid-template-areas:
  "intro"
  "atom"
  "modal";
  min-height: 90vh;
}
.landing-intro {
  color: white;
  display: flex;
  grid-area: intro;
  flex-direction: column;
  height: 30vh;
  justify-content: space-evenly;
  text-align: center;
  /* position: relative; */
}
.landing-intro * {
  font-size: 2.25rem;
  font-family: "orbitron", "sans-serif";
}
.intro-typewriter {
  margin-top: 2rem;
}
.intro-typewriter * {
  display: inline;
}
#landing-modal {
  grid-area: modal;
}
.typewriter {
  display: inline;
}

#landing-atom {
  grid-area: atom;
}

@media screen and (min-width: 800px) {
  .landing {
    grid-template-areas: 
    "atom intro"
    "atom modal"
    "atom modal";
    }

}