
.landing {
  display: grid;
  grid-template-areas:
  "intro"
  "atom"
  "modal";
  min-height: 90vh;
}
.landing-intro {
  align-items: center;
  color: white;
  display: flex;
  grid-area: intro;
  flex-direction: column;
  margin-bottom: 3rem;
  min-height: 30vh;

  justify-content: space-evenly;
  text-align: center;
  position: relative;
}
.landing-intro * {
  font-size: 2.25rem;
  font-family: "orbitron", "sans-serif";
}
.intro-typewriter {
  margin-top: 2rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}
.intro-typewriter * {
  display: inline;
}
#landing-modal {
  grid-area: modal;
}
.typewriter {
  display: inline;
}

.landing-atom {
  grid-area: atom;
}

@media screen and (min-width: 800px) {
  .landing {
    grid-template-areas: 
    "atom intro"
    "atom modal"
    "atom modal";
    }
    .landing-atom {
      min-height: fit-content;
      position: relative;
      right: 45%;
    }
    .atom-transition {
      max-height: 40vh;
      transition: transform 1s ease-in-out 25ms;
      transform: translateY(50%)
    }
    .atom-transition-revert {
      transition: 0.75s;
      max-height: 40vh;
      transition: transform 1s ease-in-out 25ms;
      transform: translateY(10%)
    }
    .landing-intro {
      width: 50vw;
    }
}
@media screen and (min-width: 1000px) {
  .landing-atom {
    right: 0%;
  }
}