@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Raleway&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
.intro-hello,
.intro-span {
  font-family: "Orbitron", sans-serif;
}
p,
li,
button {
  font-family: "raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.layout-children {
  max-width: 100vw;
  margin-top: 2rem;
}
.screen {
  color: white;
  max-width: 70vw;
  margin: auto;
}
.section-title {
  color: white;
  max-width: 70vw;
  margin: 2rem auto 0.5rem;
  font-size: 2rem;
  text-align: center;
}
.section-subtitle {
  text-align: center;
  margin-bottom: 2rem;
}
.section-text {
  line-height: 2;
}

.list {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}
.list-title {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-decoration: none;
  border-right: 2px solid white;
  font-size: 1.4rem;
  width: fit-content;
}
.list ul {
  margin: 0 0 0 2rem;
}
.list li {
  line-height: 2.5;
}

@media screen and (min-width: 1000px) {
  .screen {
    max-width: 60vw; /* may need to edit once background cards are added */
  }
  .list-title {
    padding: 0;
    margin-right: 10vw;
  }
}
