.about{
  color: white;
  max-width: 70vw;
  margin: auto;
}
.about-landing{
  height: 50vh;
}
.about-landing-img {

}

.about-story {

}
/* can about-story and about-landing image stylings be rendered without appending classnames? */
.about-story-img {

}
.about-goals {

}
.goals-title {
 text-align: ;
 margin: 1rem auto;
 text-decoration: underline;
 font-size: 1.4rem;
}
.goals-list ul {
margin: 0 0 0 3rem;
}
.goals-list li {
  line-height: 2;
}

.about-glimpse {

}
.about-farewell {

}