.sidebar-wrapper {
  width: 1px;
  color: white;
  cursor: pointer;
  position: relative;
}
.sidebar {
  background-color: orangered;
  width: 45px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed; 
  top: 4rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  right: 0;
  z-index: 5;
}

.sidebar-menu {
  height: 40vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: calc(4rem + 168px);
  right: -100%;
  transition: 850ms;
  text-align: right;
}
.sidebar-menu.active {
  right: 0;
  transition: 350ms;
}

.sidebar-content {
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-content * {
  text-decoration: none;
  color: orangered;
}

.sidebar-toggle {
  background-color: orangered;
  display: flex;
  justify-content: center;
  color: white;
}
.sidebar-toggle * {
  color: white;
  /* margin: 0 auto; */
}

.sidebar-span {
  display: flex;
  font-size: .75rem;
}