.sidebar-wrapper {
  width: 1px;
  color: white;
  cursor: pointer;
}
.sidebar {
  background-color: orangered;
  width: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed; 
  top: 4rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  right: 0;
}

.sidebar-menu {
  height: 40vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: calc(4rem + 168px);
  right: -100%;
  transition: 850ms;
  text-align: right;
}
.sidebar-menu.active {
  right: 0;
  transition: 350ms;
}

.sidebar-content {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-toggle {
  background-color: orangered;
}
