.sidebar {
  background-color: orangered;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed; 
  top: 10vh;
  left: 0;
}

.sidebar-menu {
  width: 250px;
  height: 60vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20vh;
  left: -100%;
  transition: 850ms;
}
.sidebar-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar-content {
  width: 100%;
}

.sidebar-toggle {
  background-color: orchid;
  width: 100%;
  height: 80px;
}