
.footer {
  display: flex;
  flex-flow: column; 
  justify-content: space-between;;
  padding: 0.5rem 2.5rem;

  border-top: 1.75px solid white;
  text-align: center;
}
.creator, .network * {
  color: white;
}
.network img {
  height: 70px;
}
.footer-title {
  text-align: center;
  margin: 1rem 0;
}
.footer-text {
  margin-bottom: 1rem;
}
.footer-links {
  align-items: center;
  display: flex; 
  justify-content: space-evenly;
}

@media screen and (min-width: 1000px) {
  .footer-title {
    font-size: 20px;
  }
}